@import "@fontsource/press-start-2p";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  line-height: 180%;
  color: #21201E;
}

* {
  box-sizing: border-box;
}

.balloon-enter {
  opacity: 0;
  transform: scale(0.9);
}

.balloon-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.balloon-exit {
  opacity: 1;
}

.balloon-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(1turn); }
}

.golden-text {
  color: gold;
  animation: spin 10s linear infinite;
  /* Use multiple shadows to create a 3D effect */
  text-shadow: 
    1px 1px 0px rgba(0, 0, 0, 0.5), 
    2px 2px 0px rgba(0, 0, 0, 0.5), 
    3px 3px 0px rgba(0, 0, 0, 0.5), 
    4px 4px 0px rgba(0, 0, 0, 0.5),
    5px 5px 0px rgba(0, 0, 0, 0.5),
    6px 6px 0px rgba(0, 0, 0, 0.5);
}
.text-shadow {
  text-shadow: 2px 2px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}







